<% content_for :meta_title, t('.title', page: current_page) %>

<article class="shop-items">
  <h1><%= t('.header') %></h1>

  <%= paginate @items %>
  <% if @items.any? %>
      <%= render partial: 'shop/items/list', locals: { items: @items } %>
  <% else %>
      <%= render 'shared/nothing_found' %>
  <% end %>
  <%= paginate @items %>
</article>
