<% content_for :meta_title, t('.title') %>
<% content_for :options do %>
    <ul>
      <li><%= link_to t(:view), @entity %></li>
      <li><%= link_to t(:list), orders_path %></li>
      <li><%= link_to_delete @entity %></li>
    </ul>
<% end %>

<article class="edit-order">
  <h1><%= t('.title') %></h1>

  <%= form_for @entity do |f| %>
  <div>
    <%= f.label :state %>
    <%= f.select :state, order_states_for_select %>
  </div>
      <div>
        <%= button_tag t(:submit), type: :submit %>
      </div>
  <% end %>
</article>
