<%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

<%= form_for entity do |f| %>
    <%= render partial: 'shared/entity_image', locals: { entity: entity } %>
    <div>
      <%= f.label :image %>
      <%= f.file_field :image, accept: 'image/jpeg, image/png' %>
    </div>
    <div>
      <%= f.label :parent_id %>
      <%= f.select :parent_id, categories_for_select %>
    </div>
    <div>
      <%= f.label :priority %>
      <%= f.number_field :priority, in: (0..999), required: true %>
    </div>
    <div>
      <div><%= f.label :name %></div>
      <%= f.text_field :name, required: true, size: 50, maxlength: 50 %>
    </div>
    <div>
      <div><%= f.label :slug %></div>
      <%= f.text_field :slug, required: true, size: 50, maxlength: 50 %>
    </div>
    <div>
      <%= f.check_box :visible %>
      <%= f.label :visible %>
    </div>
    <div>
      <div><%= f.label :description %></div>
      <%= f.text_area :description %>
    </div>

    <div>
      <%= f.button t(:submit), type: :submit %>
    </div>
<% end %>
